h1,  caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
html {
  position: relative;
  min-height: 100%; }

body {
  font-family: Open Sans, sans-serif;
  font-size: 100%;
  color: #383e47;
  width: 100%;
  /*footer height plus padding*/
  margin-bottom: 200px; }

.header {
    background-image: url("../img/DSCF5999.jpg");
    margin-top: 0;
    background-size: cover;
    height: 100%;
    width: 100%;

 }



#header-text {
    /*margin: 0 auto;*/
    position: relative;
    /*text-align: left;*/
    margin-left: 50%;
    margin-right: 10%;
    top: 25%;
    /*width: 100%;*/
    /*background-color: rgba(255, 255, 255, 0.6);*/
   }
    @media (max-width: 800px) {
    #header-text {

    margin-left: 8%;
    margin-right: 2%;
    top: 12%;}
}

#header-text span {
  background-color: rgba(0, 0, 0, 0.6);

}

a {
  color: inherit;
  text-decoration: none; }
  a:link {
    text-decoration: none; }
  a:hover {
    color: #FAA61A; }
  a.dotted {
    /*for links*/
    color: #4b444d;
    border-bottom: 2px dotted #cccccc; }

h1 {
  color: white;
  font-size: 3.5em;
  line-height: 1.5em;
  font-weight: bold;


}
@media (max-width: 800px) {
    h1 {
    font-size: 2.5em;}
}

h2 {
    font-size: 2em;
    line-height: 2em;
    font-weight: bold;
    margin-left: 15%;

}

h3 {
  color: white;
  font-size: 1.8em;
  line-height: 1.8em;

}

h5{
    margin-top: 2em;
    line-height: 1.5em;
}

p, li {
  font-size: 1.6em;
  line-height: 1.7em;
  width:50%;
  margin-left: 15%;


}

/* ======== HEADER ======== */
.logo {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  float: left;
  margin: 15px 0 0 15px;
  z-index: 1000; }

.social-icons {
  position: fixed;
  padding-top: 10px;
  z-index: 1000; }

.fa-twitter,
.fa-facebook {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  color: #5b5b5b;
  float: right;
  margin: 5px 10px 0 0;
  cursor: pointer; }
  .fa-twitter:hover,
  .fa-facebook:hover {
    color: #FAA61A; }

/* ======== Footer ======== */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 170px;
  background: #1c2124 none repeat scroll 0 0;
  text-align: left;
  font-size: 14px;
  padding: 0;
  display: block; }

#footer-wraper {
  padding-top: 20px;
  margin-left: 5%;
}

.links li {
  color: #fff;
  font-size: 0.7em; }
  @media (max-width: 768px) {
    .links li {
      display: none; } }

.copyright {
  float: left;
  font-size: 0.7em;
  color: #fff; }
  @media (max-width: 768px) {
    .copyright {
      font-size: 0.5em; } }
  .copyright p {
    padding-bottom: 0; }

.copying-info {
  padding-top: 20px;
  font-size: 0.7em;
  line-height: 15px;
  color: #888c91; }
  @media (max-width: 768px) {
    .copying-info {
      padding-top: 10px;
      font-size: 0.5em; } }
  @media (max-width: 480px) {
    .copying-info {
      padding-top: 10px; } }

.support-site:link,
.support-site:visited {
  color: #FAA61A; }

.cover {
  margin-bottom: 15%; }

h1
  @media (max-width: 480px) {
    h1 {
      font-size: 2.5em; } }



.subtitle {
  font-size: 1.7em;
  line-height: 1.5em;
  font-weight: 300;
  color: #383e47; }

.credits {
  color: white;
  font-size: 0.8em;
  line-height: 1.5em;

}

  .credits.date {
    margin-top: 1em;
    font-size: 1.1em;
    font-weight: 300;
  }

.annotation {
  font-size: 12px;
  line-height: 24px;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  color: #636363; }

.first {
  margin-top: 30px;
}

.last{
  margin-bottom:30px;
}

ul {
  list-style-type: none;
  padding: 0; }

img {
  margin-top: 0;
  margin-bottom: 0.5em; }

.quote {
  margin-top: 0;
  margin-bottom: 2em;
  font-size: 2.3em;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #211A23; }
  @media (max-width: 768px) {
    .quote {
      margin-top: 0;
      margin-bottom: 2em; } }
  @media (max-width: 480px) {
    .quote {
      margin-top: 0;
      margin-bottom: 2em; } }
  .quote::before {
    font-family: Arial, serif;
    content: "\201C";
    font-size: 7em;
    position: relative;
    left: 0;
    top: 0.5em; }
    @media (max-width: 480px) {
      .quote::before {
        font-size: 7em; } }

.margin-top {
  margin-top: 20em; }

.new-section {
  margin-top: 5%; }

.mobile {
  display: none; }
  @media (max-width: 480px) {
    .mobile {
      display: block; } }

.desktop {
  display: block; }
  @media (max-width: 480px) {
    .desktop {
      display: none; } }

.read-more {
  margin-bottom: 15px; }

.glyphicon-chevron-right:before {
    content: "▶";
}

.glyphicon-chevron-left:before {
    content: "◀";
}

.container {
  padding-right: 5px;
  padding-left: 5px;

}

/*# sourceMappingURL=application.css.map */


